
body {
  background: white;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html, body {margin: 0; height: 100%; overflow: hidden}
blockquote {

  width:100%;
  margin-left: auto;
  margin-right: auto;
}
p {
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: #e5e5ea;
  max-width: 50%;
  clear: both;
  position: relative;
}
p.them {
  float: left;
  margin-right:30vh;
}

p.me {
  float: right;
  background-color: #1289fe;
  color: white;
  margin-left:30vh;
}

.chat-div{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  overflow:scroll;
  overflow-x: hidden;
   height:70vh;
}
.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:7vh;
}
.user-div
{ margin-top:1vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 2vh;
}
.save-button{
  background-color: #006400;
  border-color: #006400;
}
.profile-image{

  width:10vh;
  height:10vh;

  }
