
<app-nav-bar></app-nav-bar>

<div style="margin-top: 6vh;">
<div
      class="search-results"
      infinite-scroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="100"
    (scrolled)="onScroll()"
    [scrollWindow]="true"
    >
  <div *ngIf="recipeList.length<=1"><h1> You have no recipes to see , go and follow people to find new and interesting recipes </h1></div>

<div class="card-list">
  <div *ngFor="let recipe of recipeList">
    <app-recipe-card-module class="single-card" [recipe]="recipe"></app-recipe-card-module>
  </div>
</div>
</div>
</div>

