.card-list{
  display: flex;
  flex-wrap: wrap;
  margin-top:7vh;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
}

.change-button{
  margin-top: 1vh;
  background-color: #006400;
  border-color: #006400;

}
.add-button
{
  background-color: #006400;
  border-color: #006400;
  color: white;
  margin-top: 1vh;

}
.upper-buttons{
 width: 100%;
 display: flex;
 justify-content: center;
}
.card-items{
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
