.card-list{
  display: flex;
  flex-wrap: wrap;
}

.change-button{
  margin-top: 1vh;
  background-color: #006400;
  border-color: #006400;
  margin-left:30vh ;
}
.add-button
{
  background-color: #006400;
  border-color: #006400;
  color: white;
  margin-top: 1vh;

}
.upper-buttons{
 width: 100%;
 display: flex;
 justify-content: center;
}
