 <head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="card" >
      <ng-image-slider [images]="imgCollection"
      [defaultActiveImage]="0"
      [manageImageRatio]="true"
      [imageSize]="{width: '100%', height: '80%'}"
       class="card-img-top recipe-images"
       style="display: block;"></ng-image-slider>
    <div class="card-body">
      <h5 class="card-title">{{recipe?.name}}</h5>
      <p class="card-text">
        {{recipe?.description}}
      </p>
      <p class="lead">Difficulty: {{recipe?.difficulty}}</p>
      <p class="lead">Preparation time: {{recipe?.preparationTime}} Minutes</p>
      <p class="lead">Serves: {{recipe?.serves}}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{recipe?.createdDate | date:'yyyy-MM-dd'}}</small>
      <small class="text-muted created-by" >Created by: {{owner?.username!}}</small>
    </div>
  </div>

 <div>
    <h1 *ngIf="ingredients">Ingredients</h1>
    <div *ngFor="let ingredient of ingredients">
      <p>{{ingredient.quantity}} {{ingredient.ingredientsName}}</p>
      <hr class="hr hr-blurry"/>
    </div>
 </div>
 <div>
  <h1 *ngIf="steps">Steps</h1>
  <div *ngFor="let step of steps;let index = index">
    <h4>Step {{index}}</h4>
    <p>{{step.description}}</p>
    <hr class="hr hr-blurry" style="height: 5vh;" />
  </div>
  <div>
  <h1 *ngIf="reviews">Comments</h1>
    <div *ngFor="let review of reviews">
      <ngb-rating [rate]="review.rating" ></ngb-rating>
      <p>{{review.comment}}</p>
      <hr class="hr hr-blurry"/>
    </div>
  </div>
 </div>
</div>


