<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>


<app-nav-bar></app-nav-bar>

<div *ngIf="!newRecipe" class="add-button-div"  style="margin-top:7vh;">
  <button mat-button class="btn btn-primary change-button" type="submit" (click)=" saveChanges()"> Add Recipe</button>
</div>
<div *ngIf="newRecipe" class="add-button-div" style="margin-top:7vh;">
  <button mat-button class="btn btn-primary change-button" (click)="updateRecipe()"> Save Changes</button>
</div>

<div class="container">
  <div *ngIf="newRecipe" class="add-button-div" style="margin-top:7vh;">
    <button mat-button class="btn btn-primary change-button" (click)="file.click()">
      <input type="file" id="file" (change)="changeMainPhoto($event)" accept="image/*" #file  style="display:none;"/>
      Change Main Photo</button>
  </div>
  <div class="card">
       <img *ngIf="recipe?.mainPhoto" [src]="recipe?.mainPhoto"  class="card-img-top recipe-images">

      <form [formGroup]="recipeForm">
    <div class="card-body">
      <h5 class="card-title">
        <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
        </div>
        <input type="text" class="form-control"  formControlName="nameControl" aria-label="Name" aria-describedby="inputGroup-sizing-default">
      </div></h5>
      <div *ngIf="recipeForm.controls.nameControl.errors?.['required']  && recipeForm.controls.nameControl.touched">Must be completed</div>
      <div class="card-text">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
          </div>
          <input type="text" class="form-control" formControlName="descriptionControl" aria-label="Description" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="lead">Difficulty:
        <mat-form-field appearance="fill" >
        <mat-select  formControlName="difficultyControl" >
          <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty">
            {{difficulty}}
          </mat-option>
        </mat-select>
      </mat-form-field>
        </div>
      <div class="lead" style="display: flex;">Preparation time:
        <input type="text" class="form-control"  style="display: inline;" formControlName="preparationControl" aria-label="Preparation" style="width:20vh;margin-right: 2vh;">Minutes
      </div>
      <div *ngIf="recipeForm.controls.preparationControl.errors?.['pattern']  && recipeForm.controls.preparationControl.touched">Must be a number</div>
      <div class="lead" style="display: flex;margin-top: 2vh;">Serves:
        <input type="text" class="form-control"  style="display: inline;" formControlName="servesControl" aria-label="Serves" style="width:20vh;">
      </div>
      <div *ngIf="recipeForm.controls.servesControl.errors?.['pattern']  && recipeForm.controls.servesControl.touched">Must be a number</div>
    </div>
    <div class="lead" style="margin-left: 3vh;">Category:
    <mat-form-field appearance="fill" >
    <mat-select [(ngModel)]="category" [ngModelOptions]="{standalone: true}" [placeholder]="category?.name!">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let cat of categories" [value]="cat">
        {{cat.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
    <div class="card-footer" *ngIf="owner?.username!">
      <small class="text-muted">{{recipe?.createdDate | date:'yyyy-MM-dd'}}</small>
      <small class="text-muted created-by" >Created by: {{owner?.username!}}</small>
    </div>
  </form>
  </div>
 <mat-tab-group >
  <mat-tab label="Ingredients">
    <div>
      <div style="display: flex;">
        <button type="button" class="btn btn-primary btn-floating add-button" style="margin-left: 2vh; margin-right: 2vh;  margin-bottom: 2vh;"(click)="addIngredient()">
          <i class="fas fa-plus"></i>
        </button>
      </div>
      <div *ngFor="let ingredient of ingredients">
        <div style="display: flex;">
        <p>{{ingredient.quantity}} {{ingredient.measurement}} {{ingredient.ingredientsName}}</p>
        <i class="fas fa-trash fa-xs delete-button" (click)="deleteIngredient(ingredient)"></i>
        </div>
        <hr class="hr hr-blurry"/>
      </div>
   </div>
  </mat-tab>
  <mat-tab label="Steps">
    <div>
      <div style="display: flex;">
        <button type="button" class="btn btn-primary btn-floating add-button" style="margin-left: 2vh; margin-right: 2vh; margin-bottom: 2vh;" (click)="addStep()">
         <i class="fas fa-plus" ></i>
        </button>
      </div>
      <div *ngFor="let step of steps;let index = index">
        <h4>Step {{index+1}}</h4>
        <div style="display: flex;">
        <p>{{step.description}}</p>
          <i class="fas fa-trash fa-xs delete-button" (click)="deleteStep(step)"></i>
        </div>
        <hr class="hr hr-blurry"  />
      </div>
     </div>
  </mat-tab>
  <mat-tab label="Galery">
    <button mat-button (click)="changePhotos()" class="image-button rounded btn btn-primary btn-floating" style="margin-left: 2vh; margin-right: 2vh; margin-bottom: 2vh;">
      Manage photos
    </button>
    <div>
      <img
        *ngFor="let photo of photos"
        [src]="photo.image"
        class="img-fluid rounded single-image"
      />
    </div>
  </mat-tab>
</mat-tab-group>
</div>



