.container{
  margin-left: auto;
  margin-right: auto;

}

.recipe-images{
  height: 80vh;
  width:115vh;
}
.card{
  width:115vh;
  margin-left: auto;
  margin-right: auto;
}
.created-by{
  float:right;
}
.image-button{

  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top:1vh;
  background-color:#006400;
  border-color: #006400;
  color:white;
}
.change-button{
  margin-top: 1vh;
  background-color: #006400;
  border-color: #006400;
  margin-bottom: 1vh;
}
.add-button-div{
  width: 100%;
  display: flex;
  justify-content: center;
}
.add-button
{
  margin-top: 1.5vh;
  margin-left: 2vh;
  height: 5vh;
  background-color: #006400;
  border-color: #006400;
}

.delete-button
{
  margin-top:1.7vh;
  margin-left: auto;
  cursor:pointer;
}
