.profile-image{

width:40vh;
height:40vh;

}
.main-container{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.profile-form{
  flex-direction: row;
}
.form-control{
  width: 70vh;
  margin-top: 2vh;
}
.save-button{

  margin-top: 1vh;
  margin-left: 30vh;
  background-color: #006400;
  border-color: #006400;
}
.form-label{
  margin-left:30vh;
  margin-top: 2vh;
}
.change-button{
  margin-top: 1vh;
  background-color: #006400;
  border-color: #006400;
}
