
<app-nav-bar>
</app-nav-bar>

<div class="main-container">
  <img *ngIf="user?.photo"
  [src]="_sanitizer.bypassSecurityTrustResourceUrl(user?.photo!)"
  alt=""
  class="profile-image rounded-circle shadow"
  (click)="upload($event)"
  />
  <button mat-button (click)="file.click()" class="btn btn-primary change-button">
    <input type="file" id="file" (change)="upload($event)" accept="image/*" #file  style="display:none;"/>
    Change Photo
  </button>
  <form class="profile-form" [formGroup]="profileForm">
    <div class="form-group">
      <label for="exampleInputEmail1"  class="form-label">Username</label>
      <input type="email" class="form-control" id="username" formControlName="username" >
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label">First Name</label>
      <input type="email" class="form-control" id="firstName" formControlName="firstName">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1"  class="form-label">Last Name</label>
      <input type="email" class="form-control" id="lastName" formControlName="lastName">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email">
    </div>
    <button type="submit" class="btn btn-primary save-button" (click)="saveChanges()">Save</button>
  </form>

</div>
