.example-form {
margin-left: 35%;
margin-top: 5vh;
}

.example-full-width {
  width:50vh;
  margin-top:1vh;
}
.main-container{
  display: flex;
  width:100%;
  margin-top:8vh;
}

.search-button
{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;

}
.card-list{
  display: flex;
  flex-wrap: wrap;
}

